.hero-block img {
    transition: transform 1s ease;
  }
  .hero-block img:hover {
   transform: scale(1.5) rotate3d(0, 1, 0, 180deg);
   transition: transform 2s ease-out;
  }
  .main-button {
    transition: transform 1s ease;
    transform-origin: left;
  }
  .main-button:hover {
    transform: rotate(10deg);
    /*animation: rotate 2s infinite;*/
    transform-origin: left;
  }
  .learn-more-button {
    transition: transform 1s ease;
  }
  .learn-more-button:hover {
      transform: scale(0.95);
      background-color: #ffffff;
      color: #39c2d7;
  }
  .hero {
    background-image: url(../assets/desktop-animation/Frame-32.svg),
      url(../assets/desktop-animation/Frame-31.png),
      url(../assets/desktop-animation/Frame-30.png);
    animation: bgchange 2s infinite alternate linear; /* Adjusted duration and easing */
    -webkit-animation: bgchange 2s infinite alternate linear; /* Vendor prefix for compatibility */
  }
  
  @keyframes bgchange {
    0% {
      background-position: left, left, left;
      background-size: contain, 1px 1px, contain;
    }
    50% {
      background-position: -15px -15px, left, left; /* Adjusted position values */
      background-size: contain, contain, contain;
    }
    100% {
      background-position: left, left, left;
      background-size: contain, 1px 1px, contain;
    }
  }
  
  
  
  /* responsive */
  @media (max-width: 768px) {
    .hero {
      background-image: url(../assets/mobile-animation/Frame-28.svg),   url(../assets/mobile-animation/Frame-29.png),   url(../assets/mobile-animation/Frame-24.png);
      animation: mobile-bgchange 4s infinite alternate ease;
      -webkit-animation: mobile-bgchange 4s infinite alternate ease;
  }
    
    @keyframes mobile-bgchange {
      0% {
        background-size: contain, 1px 1px, contain;
        background-position: left, left, left;
    }
      50% {
        background-position: -15px -15px, left, left;
        background-size: contain, contain, contain;
    }
      100% {
        background-position: left, left, left;
        background-size: contain, 1px 1px, contain;
      }
    }
  }
  